[Unit]
Description=A Simple YOLO Inference Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=siyolo
Group=siyolo

SyslogIdentifier=siyolo

WorkingDirectory=/opt/siyolo_onnx
Environment=LD_LIBRARY_PATH=/opt/siyolo_onnx/venv/lib/python3.10/site-packages/nvidia/cudnn/lib:/opt/siyolo_onnx/venv/lib/python3.10/site-packages/nvidia/cufft/lib:/opt/siyolo_onnx/venv/lib/python3.10/site-packages/nvidia/cuda_runtime/lib:/opt/siyolo_onnx/venv/lib/python3.10/site-packages/nvidia/cublas/lib
ExecStart=/opt/siyolo_onnx/venv/bin/python3.10 /opt/siyolo_onnx/main.py

Restart=always
RestartSec=5
Nice=-10

Environment=TMPDIR=/dev/shm
Environment=PYTHONUNBUFFERED=1
Environment=YOLO_MODEL=yolo26x.onnx
Environment=IMG_SZ_X=1152
Environment=IMG_SZ_Y=640
Environment=MINIMUM_CONFIDENCE=0.65

OOMScoreAdjust=-200

TimeoutStopSec=90
KillSignal=SIGTERM
KillMode=control-group

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
RestrictRealtime=true
LockPersonality=true

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
